@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  font-size: 10px;
  font-family: "Nunito", sans-serif;
}

.section__title {
  font-weight: 700;
  font-size: 3.125rem;
}

.container-fluid {
  max-width: 90%;
}

.button {
  background-color: #ffe64a;
  border: none;
  border-radius: 24px;
  padding: 10px 40px;
  font-weight: 500;
  font-size: 1.125rem;
  color: #041e2f;
  font-family: "Roboto", sans-serif;
}

html,
body {
  font-size: 10px;
}

#header {
  background-image: url("../img/header/header-bg.png");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  border-radius: 20px;
  margin: 20px auto;
  font-family: "Nunito", sans-serif;
  max-width: 95%;
  position: relative;
  padding: 0 20px 20px;
}

#header .header-with-figure {
  min-height: 350px;
}

#header .toggle-button {
  font-size: 30px;
}

#header .navbar {
  z-index: 999;
}

#header .navbar .container-fluid {
  max-width: 100%;
}

#header .navbar .navbar-brand {
  margin-left: -12px;
}

#header .navbar .navbar-collapse .nav-link {
  color: #fff;
  font-size: 1.125rem;
  letter-spacing: -0.2px;
  font-weight: bold;
}

#header .navbar .navbar-collapse button {
  font-size: 1rem;
}

#header .header__inner,
#header .header-article__inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

#header .header__inner .header__title,
#header .header-article__inner .header__title {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  max-width: 90%;
  padding: 30px 15px;
  color: #fff;
  letter-spacing: -0.2px;
  text-align: center;
  margin: 0 auto;
}

#header .header__inner .header__title h1,
#header .header-article__inner .header__title h1 {
  font-size: 4rem;
  line-height: 4rem;
  font-weight: 800;
}

#header .header__inner .header__title p,
#header .header-article__inner .header__title p {
  font-size: 1.375rem;
  margin-top: 20px;
}

#header .header__inner .header__title img,
#header .header-article__inner .header__title img {
  width: 100px;
  max-width: 150px;
  margin: 0 auto;
  margin-top: 20px;
}

#header .header__inner .header__title img:first-child,
#header .header-article__inner .header__title img:first-child {
  margin-right: 20px;
}

#header .header__inner .header-article__title,
#header .header-article__inner .header-article__title {
  max-width: 90%;
  padding: 30px 15px;
  color: #fff;
  margin: auto auto;
}

#header .header__inner .header-article__title h1,
#header .header-article__inner .header-article__title h1 {
  font-size: 3.5rem;
  font-weight: 700;
  margin-top: 8px;
}

#header .header__inner .header-article__title h2,
#header .header-article__inner .header-article__title h2 {
  font-size: 1.3125rem;
  font-weight: 700;
  color: #ffe64a;
}

#header .header__inner .header-article__title p,
#header .header-article__inner .header-article__title p {
  text-indent: 1.5rem;
  font-size: 1.375rem;
  text-align: justify;
  margin-top: 8px;
}

#header .header__inner .header__figure,
#header .header-article__inner .header__figure {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

#header .header__inner .header__figure img,
#header .header-article__inner .header__figure img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

#header .header__inner .header-article__figure,
#header .header-article__inner .header-article__figure {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#header .header__inner .header-article__figure img,
#header .header-article__inner .header-article__figure img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

#header .header__inner .header-article__figure img.figure-1,
#header .header-article__inner .header-article__figure img.figure-1 {
  max-width: 60%;
  position: relative;
  border-radius: 10px;
  z-index: 100;
  left: -5%;
}

#header .header__inner .header-article__figure img.figure-2,
#header .header-article__inner .header-article__figure img.figure-2 {
  position: absolute;
  top: 50%;
  left: 30%;
  max-width: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 10;
}

#header .header__inner .header-article__figure img.figure-3,
#header .header-article__inner .header-article__figure img.figure-3 {
  position: absolute;
  left: 35%;
  max-width: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1;
}

#header .header__inner .header-article__figure .play-button,
#header .header-article__inner .header-article__figure .play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: linear-gradient(119.65deg, #39a1df 0%, #d0eafb 128.41%);
  border: 0;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  animation: pulse 1.5s infinite;
  -webkit-animation: pulse 1.5s infinite;
  -webkit-box-shadow: 0 0 0 0 rgba(57, 161, 223, 0.7);
          box-shadow: 0 0 0 0 rgba(57, 161, 223, 0.7);
  overflow: hidden;
}

#header .header__inner .header-article__figure .play-button img,
#header .header-article__inner .header-article__figure .play-button img {
  width: 40%;
  -o-object-fit: cover;
     object-fit: cover;
}

#header .header__inner .header-article__figure .play-button:hover,
#header .header-article__inner .header-article__figure .play-button:hover {
  animation: none;
  -webkit-animation: none;
}

@keyframes pulse {
  to {
    -webkit-box-shadow: 0 0 0 20px rgba(57, 161, 223, 0);
            box-shadow: 0 0 0 20px rgba(57, 161, 223, 0);
  }
}

@-webkit-keyframes pulse {
  to {
    -webkit-box-shadow: 0 0 0 20px rgba(57, 161, 223, 0);
            box-shadow: 0 0 0 20px rgba(57, 161, 223, 0);
  }
}

#header .header-detail-artikel__inner .header-detail-artikel__title {
  padding: 30px 0 0;
}

#header .header-detail-artikel__inner .header-detail-artikel__title h2 {
  font-size: 1rem;
  font-weight: 700;
  color: #ffe64a;
}

#header .header-detail-artikel__inner .header-detail-artikel__title h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #fff;
}

@media only screen and (max-width: 300px) {
  #header .header__inner .header__title img,
  #header .header-article__inner .header__title img {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 350px) {
  #header .header__inner .header__title img:first-child,
  #header .header-article__inner .header__title img:first-child {
    margin-right: 0;
  }
}

@media only screen and (min-width: 576px) {
  html,
  body {
    font-size: 12px;
  }
  #header .header__inner .header__title,
  #header .header-article__inner .header__title {
    padding: 30px;
  }
  #header .header__inner .header__title h1,
  #header .header-article__inner .header__title h1 {
    font-size: 5rem;
    line-height: 5rem;
  }
  #header .header__inner .header__title img,
  #header .header-article__inner .header__title img {
    width: 135px;
    max-width: 160px;
  }
  #header .header__inner .header__figure img,
  #header .header-article__inner .header__figure img {
    width: 80%;
    display: block;
    margin: 0 auto;
  }
  #header .header__inner .header-article__figure .play-button,
  #header .header-article__inner .header-article__figure .play-button {
    width: 100px;
    height: 100px;
  }
  @keyframes pulse {
    to {
      -webkit-box-shadow: 0 0 0 30px rgba(57, 161, 223, 0);
              box-shadow: 0 0 0 30px rgba(57, 161, 223, 0);
    }
  }
  @-webkit-keyframes pulse {
    to {
      -webkit-box-shadow: 0 0 0 30px rgba(57, 161, 223, 0);
              box-shadow: 0 0 0 30px rgba(57, 161, 223, 0);
    }
  }
  #header .header-with-figure {
    min-height: 500px;
  }
  #header .header-detail-artikel__inner .header-detail-artikel__title h2 {
    font-size: 1.3125rem;
  }
  #header .header-detail-artikel__inner .header-detail-artikel__title h1 {
    font-size: 3.5rem;
  }
}

@media only screen and (min-width: 768px) {
  html,
  body {
    font-size: 14px;
  }
  #header {
    padding-right: 0;
    padding-bottom: 0;
  }
  #header .navbar {
    padding-right: 20px;
  }
  #header .header-article__inner {
    padding: 45px 0;
    margin-right: 20px;
  }
  #header .header__inner,
  #header .header-article__inner {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  #header .header__inner .header__title,
  #header .header-article__inner .header__title {
    max-width: 100%;
    margin: auto 0;
    padding: 0;
    text-align: left;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  #header .header__inner .header__figure,
  #header .header-article__inner .header__figure {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #header .header__inner .header__figure img,
  #header .header-article__inner .header__figure img {
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  #header .header__inner .header-article__title,
  #header .header-article__inner .header-article__title {
    max-width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #header .header__inner .header-article__title .header__description,
  #header .header-article__inner .header-article__title .header__description {
    margin-right: 30px;
  }
  #header .header__inner .header-article__figure,
  #header .header-article__inner .header-article__figure {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-bottom: 30px;
  }
  #header .header__inner .header-article__figure img.figure-1,
  #header .header-article__inner .header-article__figure img.figure-1 {
    max-width: 65%;
    left: -8%;
  }
  #header .header__inner .header-article__figure img.figure-2,
  #header .header-article__inner .header-article__figure img.figure-2 {
    left: 15%;
    max-width: 65%;
  }
  #header .header__inner .header-article__figure img.figure-3,
  #header .header-article__inner .header-article__figure img.figure-3 {
    left: 25%;
    max-width: 60%;
  }
  #header .header-detail-artikel__inner {
    margin-right: 20px;
    padding: 0 25px;
  }
  #header .header-with-figure {
    min-height: 600px;
  }
}

@media only screen and (min-width: 992px) {
  #header .header-with-figure {
    min-height: 650px;
  }
  #header .header-article__inner {
    padding: 45px 20px;
    margin-right: 20px;
  }
  #header .navbar {
    padding-left: 20px;
  }
  #header .navbar .navbar-collapse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-right: 30px;
  }
  #header .navbar .navbar-collapse .nav-link {
    margin-right: 30px;
  }
  #header .header__inner {
    -ms-grid-rows: 550px;
        grid-template-rows: 550px;
  }
  #header .header__inner .header__title {
    padding: 0 20px;
  }
  #header .header__inner .header-article__title {
    padding: 20px;
    margin: auto 0;
  }
  #header .header__inner .header__figure {
    background-image: url("../img/header/photo-1459767129954-1b1c1f9b9ace-removebg-preview 1.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0 0 20px;
    position: relative;
  }
  #header .header__inner .header__figure img {
    display: none;
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 0 0 20px;
  }
  #header .header__inner .header-article__figure {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #header .header__inner .header-article__figure img {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
  #header .header__inner .header-article__figure img.figure-1 {
    max-width: 70%;
    position: relative;
    border-radius: 24px;
    z-index: 100;
    left: -30px;
  }
  #header .header__inner .header-article__figure img.figure-2 {
    position: absolute;
    top: 50%;
    left: 130px;
    max-width: 65%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: 10;
  }
  #header .header__inner .header-article__figure img.figure-3 {
    position: absolute;
    left: 130px;
    max-width: 70%;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: 1;
  }
  #header .header-detail-artikel__inner {
    margin-top: 20px;
  }
  #header .header-detail-artikel__inner .header-detail-artikel__title {
    padding: 30px 25px 0;
  }
}

@media only screen and (min-width: 1050px) {
  html,
  body {
    font-size: 16px;
  }
  #header .header-with-figure {
    min-height: 700px;
    max-height: 80vh;
  }
}

@media only screen and (min-width: 1150px) {
  #header .header__inner .header__figure img {
    width: 90%;
  }
}

@media only screen and (min-width: 1400px) {
  #header {
    max-width: 1400px;
  }
  #header .header-with-figure {
    min-height: 800px;
    max-height: 80vh;
  }
}

#header .header-project__inner {
  margin-top: 30px;
}

#header .header-project__inner .header-project__title a {
  text-decoration: none;
}

#header .header-project__inner .header-project__title h1 {
  font-size: 4rem;
  line-height: 4rem;
  font-weight: 800;
  color: #fff;
}

#header .header-project__inner .header-project__title p {
  font-size: 1.375rem;
  margin-top: 24px;
  color: #fff;
}

#header .header-project__inner .header-project__thumbnail .swiper-container-3d .swiper-slide-shadow-left,
#header .header-project__inner .header-project__thumbnail .swiper-container-3d .swiper-slide-shadow-right {
  background-image: none;
}

@media only screen and (min-width: 576px) {
  #header .header-project__inner {
    margin-top: 50px;
  }
  #header .header-project__inner .header-project__title h1 {
    font-size: 5rem;
    line-height: 5rem;
  }
}

@media only screen and (min-width: 768px) {
  #header .header-project__inner {
    margin-right: 20px;
  }
}

@media only screen and (min-width: 992px) {
  #header .header-project__inner {
    padding: 20px;
  }
}

#superior {
  padding: 80px 0;
}

#superior .swiper-container {
  width: 100%;
}

#superior .swiper-slide {
  width: 33.33%;
  padding: 32px 20px;
  margin-top: 50px;
}

#superior .swiper-slide h2 {
  font-weight: 700;
  font-size: 2rem;
  letter-spacing: -0.015em;
  background: -webkit-linear-gradient(#39a1df, #d0eafb);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#superior .swiper-slide p {
  font-size: 1.25rem;
  letter-spacing: -0.015em;
  color: rgba(0, 0, 0, 0.8);
  margin-top: 20px;
}

#superior .swiper-slide-active {
  padding: 32px;
  -webkit-box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.08);
  border-radius: 25.705px;
}

#superior .swiper-slide-active h2 {
  font-size: 2.5rem;
}

#superior .swiper-slide-active p {
  font-size: 1.5rem;
}

#project {
  background: linear-gradient(119.65deg, #39a1df 0%, #d0eafb 128.41%);
  padding: 60px 0;
  position: relative;
}

#project h1 {
  color: #fff;
}

#project button {
  position: static;
  top: 60px;
  right: 30px;
}

#project button a {
  text-decoration: none;
  color: #041e2f;
}

#project .project__inner {
  margin-top: 32px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 16px;
}

#project .project__inner img {
  height: 150px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 15px 15px 0 0;
}

#project .project__inner .project-1,
#project .project__inner .project-2,
#project .project__inner .project-3,
#project .project__inner .project-4 {
  background-color: #fff;
  border-radius: 15px;
  position: relative;
}

#project .project__inner .project-1 h1,
#project .project__inner .project-2 h1,
#project .project__inner .project-3 h1,
#project .project__inner .project-4 h1 {
  background: -webkit-linear-gradient(#39a1df, #d0eafb);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
  font-size: 1.5rem;
  padding: 12px 20px;
}

#project .project__inner .project-1 .project__tagline,
#project .project__inner .project-2 .project__tagline,
#project .project__inner .project-3 .project__tagline,
#project .project__inner .project-4 .project__tagline {
  background: -webkit-gradient(linear, left bottom, left top, from(#b7d2e1), to(#b7d2e1)), #f5f5f5;
  background: linear-gradient(0deg, #b7d2e1, #b7d2e1), #f5f5f5;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0px 15px;
}

#project .project__inner .project__description {
  padding: 15px;
}

#project .project__inner .project__description h2 {
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: -0.015em;
}

#project .project__inner .project__description p {
  font-size: 1.3125rem;
  letter-spacing: -0.015em;
}

#testimonial {
  padding: 100px 0;
}

#testimonial .testimonial__title {
  text-align: center;
}

#testimonial .testimonial__title h1 {
  background: -webkit-linear-gradient(#39a1df, #d0eafb);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#testimonial .testimonial__title p {
  font-size: 1.875rem;
  margin: 10px 0 20px;
}

#testimonial .card {
  margin-top: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 4px 4px rgba(4, 30, 47, 0.15), 16px 4px 32px rgba(4, 30, 47, 0.1);
          box-shadow: 0px 4px 4px rgba(4, 30, 47, 0.15), 16px 4px 32px rgba(4, 30, 47, 0.1);
}

#testimonial .card img {
  border-radius: 20px 20px 0 0;
}

#testimonial .card-body .card-date {
  font-weight: 600;
  font-size: 1rem;
  margin: 0;
  letter-spacing: -0.015em;
  background: -webkit-linear-gradient(#39a1df, #d0eafb);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#testimonial .card-body .card-title {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0;
  letter-spacing: -0.015em;
  color: #041e2f;
}

#testimonial .card-body .card-text {
  font-size: 1.125rem;
  letter-spacing: -0.015em;
  color: #041e2f;
}

#testimonial .card--large {
  display: none;
}

#footer {
  font-family: "Nunito", sans-serif;
  position: relative;
  padding: 25px 5vw;
  margin: 0 auto;
}

#footer hr {
  width: 100%;
  margin: 25px auto 40px;
  border: 1px solid #a7a7b1;
}

#footer .footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#footer .footer__link a {
  font-size: 15px;
  font-weight: 700;
  text-decoration: none;
  color: #000;
}

#footer .footer__link img {
  margin-top: -20px;
}

@media only screen and (max-width: 600px) {
  #footer {
    padding: 70px 5vw 25px;
  }
  #footer .footer__link {
    display: block;
  }
  #footer .footer__link a {
    display: block;
    margin-top: 5px;
    text-align: center;
  }
  #footer .footer__link img {
    position: absolute;
    top: 20px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media only screen and (min-width: 1405px) {
  footer {
    max-width: 1400px;
  }
}

#artikel {
  background: #fff;
  padding: 50px 0;
}

#artikel h1 {
  color: #000;
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
  text-indent: 0;
  margin-bottom: 30px;
  text-align: center;
}

#artikel .card__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-row-gap: 16px;
}

#artikel .card__container .card {
  -webkit-box-shadow: 0px 4px 4px rgba(4, 30, 47, 0.15), 16px 4px 32px rgba(4, 30, 47, 0.1);
          box-shadow: 0px 4px 4px rgba(4, 30, 47, 0.15), 16px 4px 32px rgba(4, 30, 47, 0.1);
  border-radius: 8px;
}

#artikel .card__container .card .card__content {
  padding: 1rem 0.5rem;
  font-family: "Montserrat", sans-serif;
}

#artikel .card__container .card .card__content h6 {
  color: rgba(0, 0, 0, 0.8);
  font-size: 0.9375rem;
  font-weight: 400;
  text-align: left;
  text-indent: 0;
}

#artikel .card__container .card .card__content h3 {
  color: #000;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: left;
  text-indent: 0;
}

#artikel .card__container .card .card__content p {
  color: rgba(0, 0, 0, 0.8);
  font-size: 1.125rem;
  font-weight: 400;
  text-align: left;
  text-indent: 0;
}

#artikel .card__container .card:hover {
  cursor: pointer;
}

@media only screen and (min-width: 400px) {
  #artikel .card__container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}

@media only screen and (min-width: 768px) {
  #artikel .card__container {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    gap: 70px 30px;
  }
}

#detail .detail__article .detail__figure img {
  position: relative;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  margin: 0 auto;
}

#detail .detail__article .detail__content {
  margin-top: -55px;
}

#detail .detail__article .detail__content p {
  color: #041e2f;
  font-size: 1.375rem;
  font-weight: 400;
  text-align: justify;
  text-indent: 1.5rem;
}

#detail .detail__share-article {
  margin-top: 30px;
}

#detail .detail__share-article h3 {
  font-weight: 600;
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.8);
}

#detail .detail__share-article .share-social {
  margin-top: 10px;
}

#detail .detail__share-article .share-social img {
  width: 15px;
  height: 15px;
  margin-right: 7px;
}

#related {
  padding: 100px 0;
}

#related .card__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-row-gap: 16px;
}

#related .card__container .card {
  -webkit-box-shadow: 0px 4px 4px rgba(4, 30, 47, 0.15), 16px 4px 32px rgba(4, 30, 47, 0.1);
          box-shadow: 0px 4px 4px rgba(4, 30, 47, 0.15), 16px 4px 32px rgba(4, 30, 47, 0.1);
  border-radius: 8px;
}

#related .card__container .card .card__content {
  padding: 1rem 0.5rem;
  font-family: "Montserrat", sans-serif;
}

#related .card__container .card .card__content h6 {
  color: rgba(0, 0, 0, 0.8);
  font-size: 0.9375rem;
  font-weight: 400;
  text-align: left;
  text-indent: 0;
}

#related .card__container .card .card__content h3 {
  color: #000;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: left;
  text-indent: 0;
}

#related .card__container .card .card__content p {
  color: rgba(0, 0, 0, 0.8);
  font-size: 1.125rem;
  font-weight: 400;
  text-align: left;
  text-indent: 0;
}

#related .card__container .card:hover {
  cursor: pointer;
}

@media only screen and (min-width: 400px) {
  #related .card__container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}

@media only screen and (min-width: 768px) {
  #related .card__container {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    gap: 70px 30px;
  }
}

#related .card__container {
  margin-top: 40px;
}

#related .card__container .card {
  border-radius: 24px;
}

#related .card__container .card img {
  border-radius: 24px 24px 0 0;
}

#related h3 {
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: -0.015em;
  color: rgba(0, 0, 0, 0.8);
}

#about {
  padding: 80px 0;
}

#about .about__inner .about__figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about .about__inner .about__figure img {
  width: 100%;
  max-height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  display: block;
  margin: 0 auto;
  border-radius: 20px;
}

#about .about__inner .about__content {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about .about__inner .about__content h1 {
  font-weight: 700;
  font-size: 2.7rem;
  color: #000;
}

#about .about__inner .about__content p {
  font-size: 1.3rem;
  color: #000;
  text-indent: 1.5rem;
  margin-top: 10px;
  text-align: justify;
}

#vision .vision__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#vision .vision__inner .vision__content {
  margin-top: 40px;
}

#vision .vision__inner .vision__content h1 {
  font-weight: 700;
  font-size: 2.7rem;
  color: #000;
}

#vision .vision__inner .vision__content p {
  font-size: 1.3rem;
  color: #000;
  text-indent: 1.5rem;
  margin-top: 10px;
  text-align: justify;
}

#vision .vision__inner .vision__content .mission__description {
  margin-top: 20px;
}

#vision .vision__inner .vision__figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#vision .vision__inner .vision__figure img {
  max-height: 300px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  display: block;
  margin: 0 auto;
  border-radius: 20px;
}

#come-join {
  margin: 100px 0 150px;
}

#come-join .come-join__inner {
  background-image: url("../img/about/come-join-bg.png");
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  padding: 10px 0;
}

#come-join .come-join__inner .come-join__description h1 {
  font-weight: 800;
  font-size: 2.7rem;
  color: #fff;
}

#come-join .come-join__inner .come-join__description p {
  font-size: 1.2rem;
  color: #fff;
}

#come-join .come-join__inner .come-join__description img {
  max-width: 45%;
}

#project-slider {
  position: relative;
  top: -100px;
}

#project-slider .swiper-container {
  padding-bottom: 50px;
}

#project-slider .swiper-slide .slideBox img {
  border-radius: 20px;
  width: 100%;
  max-height: 350px;
}

#project-slider .swiper-slide .boxCenter img {
  width: 125%;
}

#project-slider .swiper-container-3d .swiper-slide-shadow-left,
#project-slider .swiper-container-3d .swiper-slide-shadow-right {
  background-image: none;
  border-radius: 30px;
}

#project-slider .swiper-pagination-bullet {
  background: #c4c4c4;
}

#project-slider .swiper-pagination-bullet-active {
  background: linear-gradient(119.65deg, #39a1df 0%, #d0eafb 128.41%);
}

#footer.project-footer {
  position: absolute;
  width: 100%;
}

#project__figure {
  position: relative;
  top: -100px;
}

#project__figure img {
  border-radius: 15px;
}

#project__list {
  position: relative;
  top: -100px;
}

#project__list .project__card {
  margin-top: 48px;
  position: relative;
}

#project__list .project__card img {
  -webkit-filter: drop-shadow(0px 4px 4px rgba(4, 30, 47, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(4, 30, 47, 0.15));
  display: block;
  margin: 0 auto;
  border-radius: 15px;
}

#project__list .project__card .project__tagline {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  background: -webkit-gradient(linear, left bottom, left top, from(#b7d2e1), to(#b7d2e1)), #f5f5f5;
  background: linear-gradient(0deg, #b7d2e1, #b7d2e1), #f5f5f5;
  border-radius: 0px 15px;
}

#project__list .project__card .project__tagline h1 {
  font-weight: 800;
  font-size: 1.875rem;
  padding: 12px 20px;
  background: -webkit-linear-gradient(#39a1df, #d0eafb);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#project__list .project__card .project__description {
  position: absolute;
  bottom: 0;
  padding: 0 10px;
}

#project__list .project__card .project__description a {
  text-decoration: none;
}

#project__list .project__card .project__description h2 {
  font-weight: 700;
  font-size: 1.875rem;
  color: #000;
}

#project__list .project__card .project__description p {
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.8);
  line-height: 1.875rem;
  letter-spacing: -0.015em;
}

@media only screen and (min-width: 350px) {
  #project button {
    position: absolute;
  }
}

@media only screen and (min-width: 400px) {
  #project__figure,
  #project__list {
    top: -150px;
  }
}

@media only screen and (min-width: 500px) {
  #superior .swiper-slide-active {
    padding: 32px 20px;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: 0;
  }
  #superior .swiper-slide-active h2 {
    font-size: 2rem;
  }
  #superior .swiper-slide-active p {
    font-size: 1.25rem;
    margin-top: 20px;
  }
  #superior .swiper-slide-next {
    padding: 32px;
    -webkit-box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.08);
            box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.08);
    border-radius: 25.705px;
  }
  #superior .swiper-slide-next h2 {
    font-size: 2.5rem;
    margin-bottom: 32px;
  }
  #superior .swiper-slide-next p {
    font-size: 1.5rem;
  }
  #detail .detail__article .detail__content {
    margin-top: -85px;
  }
  #project .project__inner {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 576px) {
  #project__figure img {
    min-height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
  #project__list .project__card img {
    min-height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
}

@media only screen and (min-width: 576px) {
  html,
  body {
    font-size: 12px;
  }
  #testimonial .testimonial__title {
    max-width: 70%;
    margin: 0 auto;
  }
  #project button {
    right: 40px;
  }
  #artikel {
    padding: 50px 0;
  }
  #artikel h1 {
    margin-bottom: 50px;
  }
  #detail .detail__article .detail__content {
    margin-top: -120px;
  }
  #about .about__inner .about__figure img {
    max-height: 400px;
  }
  #vision .vision__inner .vision__figure img {
    max-height: 400px;
  }
  #come-join .come-join__inner {
    padding: 0 0 0 30px;
  }
  #come-join .come-join__inner .come-join__description img {
    max-width: 100px;
  }
  #come-join .come-join__inner .come-join__figure {
    margin-right: -10px;
  }
  #project-slider {
    top: -230px;
  }
  #project-slider .swiper-slide .slideBox img {
    max-height: 500px;
  }
  #footer.project-footer {
    margin-top: -100px;
  }
  #project__figure {
    top: -230px;
  }
  #project__figure img {
    min-height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
  #project__list {
    top: -230px;
  }
  #project__list .project__card img {
    min-height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
  #project__list .project__card .project__description {
    padding: 0 23px;
  }
}

@media only screen and (min-width: 768px) {
  html,
  body {
    font-size: 14px;
  }
  #testimonial .card-body {
    padding: 15px 22px;
  }
  #testimonial .testimonial__card-1,
  #testimonial .testimonial__card-2,
  #testimonial .testimonial__card-3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  #artikel {
    padding: 70px 20px 100px;
  }
  #artikel h1 {
    margin-bottom: 70px;
  }
  #detail .detail__article {
    padding: 0 10px;
  }
  #detail .detail__share-article {
    margin-top: 40px;
  }
  #detail .detail__share-article .share-social {
    margin-top: 10px;
  }
  #detail .detail__share-article .share-social img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  #related {
    padding: 150px 0;
  }
  #project button {
    right: 50px;
  }
  #project .project__inner {
    -ms-grid-columns: 1.5fr 1fr 1fr;
        grid-template-columns: 1.5fr 1fr 1fr;
  }
  #project .project__inner img {
    height: 200px;
  }
  #project .project__inner .project-2,
  #project .project__inner .project-4 {
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 4;
  }
  #about .about__inner .about__figure {
    padding: 0;
  }
  #about .about__inner .about__figure img {
    max-height: none;
  }
  #about .about__inner .about__content {
    margin-top: 0;
    padding: 20px 15px 20px 60px;
  }
  #vision .vision__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #vision .vision__inner .vision__content {
    margin-top: 0;
    padding: 20px 60px 20px 15px;
  }
  #vision .vision__inner .vision__content .mission__description {
    margin-top: 48px;
  }
  #vision .vision__inner .vision__figure {
    padding: 0;
  }
  #vision .vision__inner .vision__figure img {
    max-height: none;
  }
  #project-slider {
    top: -260px;
  }
  #project__figure,
  #project__list {
    top: -270px;
  }
  #project__list .project__card .project__description {
    max-width: 75%;
  }
}

@media only screen and (min-width: 900px) {
  #detail .detail__article .detail__content {
    margin-top: -160px;
  }
}

@media only screen and (min-width: 992px) {
  html,
  body {
    font-size: 16px;
  }
  #superior {
    padding: 100px 0;
  }
  #superior .superior__inner {
    padding: 50px 20px;
  }
  #testimonial {
    padding: 200px 0px;
    max-width: 100%;
  }
  #testimonial .testimonial__title {
    max-width: 100%;
    text-align: left;
  }
  #testimonial .testimonial__title p {
    margin: 24px 0 48px;
  }
  #testimonial .card--mobile {
    display: none;
  }
  #testimonial .card--large {
    display: block;
  }
  #testimonial .card--large .card-text--large {
    font-size: 1.3125rem;
    margin-top: 16px;
  }
  #detail .detail__article {
    padding: 0 20px;
  }
  #related {
    padding: 200px 20px;
  }
  #project button {
    right: 60px;
  }
  #project .project__inner {
    gap: 30px;
  }
  #project .project__inner img {
    height: auto;
    width: auto;
    border-radius: 24px 24px 0 0;
  }
  #project .project__inner .project-1,
  #project .project__inner .project-2,
  #project .project__inner .project-3,
  #project .project__inner .project-4 {
    border-radius: 24px;
  }
  #project .project__inner .project-1 .project__tagline,
  #project .project__inner .project-2 .project__tagline,
  #project .project__inner .project-3 .project__tagline,
  #project .project__inner .project-4 .project__tagline {
    border-radius: 0px 24px;
  }
  #project .project__inner .project-1 {
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 3;
  }
  #project .project__inner .project-1 h1 {
    padding: 28px 41px;
  }
  #project .project__inner .project-3 {
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 3;
  }
  #project .project__inner .project-4 {
    -ms-grid-column: 3;
        grid-column-start: 3;
    grid-column-end: 4;
  }
  #project .project__inner .project__description--project1 p {
    margin-top: 16px;
  }
  #project .project__inner .project__description--project2 p {
    margin-top: 8px;
  }
  #about .about__inner .about__content h1 {
    font-size: 3.125rem;
  }
  #about .about__inner .about__content p {
    font-size: 1.5rem;
    margin-top: 32px;
    line-height: 32px;
  }
  #vision .vision__inner .vision__content h1 {
    font-size: 3.125rem;
  }
  #vision .vision__inner .vision__content p {
    font-size: 1.5rem;
    margin-top: 16px;
    line-height: 32px;
  }
  #come-join .come-join__inner {
    padding-left: 60px;
  }
  #come-join .come-join__inner .come-join__description {
    margin-right: 60px;
  }
  #come-join .come-join__inner .come-join__description h1 {
    font-size: 3.125rem;
  }
  #come-join .come-join__inner .come-join__description p {
    margin-top: 10px;
    font-size: 1.375rem;
  }
  #come-join .come-join__inner .come-join__description img {
    margin-right: 16px;
    max-width: 135px;
    margin-top: 30px;
  }
  #project-slider .swiper-container {
    width: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #project-slider .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 50%;
  }
  #project-slider .swiper-slide .slideBox {
    position: relative;
    width: 100%;
  }
  #project-slider .swiper-slide .slideBox img {
    max-height: 500px;
  }
  #project-slider .swiper-slide-active .slideBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #project-slider .swiper-slide-active .slideBox img {
    width: 800px;
    -o-object-fit: cover;
       object-fit: cover;
    max-height: auto;
  }
  #footer.project-footer {
    margin-top: -200px;
  }
  #project__figure img {
    border-radius: 24px;
  }
  #project__list .project__card img {
    border-radius: 24px;
  }
  #project__list .project__card .project__tagline {
    border-radius: 0px 24px;
  }
}

@media only screen and (min-width: 1050px) {
  #detail .detail__article .detail__content {
    margin-top: -200px;
  }
  #project-slider {
    top: -320px;
  }
  #project__figure,
  #project__list {
    top: -330px;
  }
}

@media only screen and (min-width: 1150px) {
  #project button {
    right: 70px;
  }
  #detail .detail__article .detail__content {
    margin-top: -250px;
  }
}

@media only screen and (min-width: 1300px) {
  #project-slider .swiper-slide-active .slideBox img {
    width: 1000px;
  }
}

@media only screen and (min-width: 1350px) {
  #project__list .project__card .project__tagline {
    right: 15px;
  }
  #project__list .project__card .project__description {
    padding: 0 38px;
  }
}

@media only screen and (min-width: 1400px) {
  .container-fluid,
  .container {
    max-width: 1248px;
  }
  #project button {
    right: 10%;
  }
  #project-slider .swiper-container {
    max-width: 1400px;
  }
  #project-slider {
    top: -400px;
  }
  #project__figure,
  #project__list {
    top: -400px;
  }
  #project__list .project__card .project__tagline {
    right: 30px;
  }
  #project__list .project__card .project__description {
    padding: 0 53px;
  }
}

/*
*
* PROJECT TIGA
*
*/
#header .header-project__inner .header-project-3__title p {
  font-weight: 600;
  color: #ffe64a;
}

#project__figure.project-3__figure {
  top: -164px;
}

@media only screen and (min-width: 576px) {
  #project__figure.project-3__figure {
    top: -264px;
  }
  #header .header-project__inner .header-project-3__title {
    margin: 0 10px;
  }
}

@media only screen and (min-width: 768px) {
  #project__figure.project-3__figure {
    top: -334px;
  }
  #header .header-project__inner .header-project-3__title {
    margin: 0 15px;
  }
}

@media only screen and (min-width: 992px) {
  #project__figure.project-3__figure {
    top: -379px;
  }
}
/*# sourceMappingURL=style.css.map */