.card__container {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 16px;

  .card {
    box-shadow: 0px 4px 4px rgba(4, 30, 47, 0.15), 16px 4px 32px rgba(4, 30, 47, 0.1);
    border-radius: 8px;
    .card__content {
      padding: 1rem 0.5rem;
      font-family: "Montserrat", sans-serif;
      h6 {
        @include fontConfig($black80, 0.9375rem, 400);
      }
      h3 {
        @include fontConfig($pureblack, 1.5rem, 700);
      }
      p {
        @include fontConfig($black80, 1.125rem, 400);
      }
    }
  }

  .card:hover {
    cursor: pointer;
  }
}

@media only screen and (min-width: 400px) {
  .card__container {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}

@media only screen and (min-width: 768px) {
  .card__container {
    grid-template-columns: repeat(3, 1fr);
    gap: 70px 30px;
  }
}
