#footer {
  font-family: "Nunito", sans-serif;
  position: relative;
  padding: 25px 5vw;
  margin: 0 auto;

  hr {
    width: 100%;
    margin: 25px auto 40px;
    border: 1px solid #a7a7b1;
  }

  .footer__link {
    display: flex;
    justify-content: space-between;

    a {
      font-size: 15px;
      font-weight: 700;
      text-decoration: none;
      color: $pureblack;
    }

    img {
      margin-top: -20px;
    }
  }
}

@media only screen and (max-width: 600px) {
  #footer {
    padding: 70px 5vw 25px;

    .footer__link {
      display: block;
      a {
        display: block;
        margin-top: 5px;
        text-align: center;
      }

      img {
        position: absolute;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}

@media only screen and (min-width: 1405px) {
  footer {
    max-width: 1400px;
  }
}
