html,
body {
  font-size: 10px;
}

#header {
  background-image: url("../img/header/header-bg.png");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  border-radius: 20px;
  margin: 20px auto;
  font-family: "Nunito", sans-serif;
  max-width: 95%;
  position: relative;
  padding: 0 20px 20px;

  .header-with-figure {
    min-height: 350px;
  }

  .toggle-button {
    font-size: 30px;
  }

  .navbar {
    z-index: 999;
    .container-fluid {
      max-width: 100%;
    }

    .navbar-brand {
      margin-left: -12px;
    }

    .navbar-collapse {
      .nav-link {
        color: #fff;
        font-size: 1.125rem;
        letter-spacing: -0.2px;
        font-weight: bold;
      }

      button {
        font-size: 1rem;
      }
    }
  }

  .header__inner,
  .header-article__inner {
    display: grid;
    grid-template-columns: 1fr;

    .header__title {
      order: 2;
      max-width: 90%;
      padding: 30px 15px;
      color: #fff;
      letter-spacing: -0.2px;
      text-align: center;
      margin: 0 auto;
      h1 {
        font-size: 4rem;
        line-height: 4rem;
        font-weight: 800;
      }
      p {
        font-size: 1.375rem;
        margin-top: 20px;
      }
      img {
        width: 100px;
        max-width: 150px;
        margin: 0 auto;
        margin-top: 20px;
      }
      img:first-child {
        margin-right: 20px;
      }
    }

    .header-article__title {
      max-width: 90%;
      padding: 30px 15px;
      color: #fff;
      margin: auto auto;
      h1 {
        font-size: 3.5rem;
        font-weight: 700;
        margin-top: 8px;
      }
      h2 {
        font-size: 1.3125rem;
        font-weight: 700;
        color: #ffe64a;
      }
      p {
        text-indent: 1.5rem;
        font-size: 1.375rem;
        text-align: justify;
        margin-top: 8px;
      }
    }

    .header__figure {
      order: 1;
      img {
        width: 100%;
        object-fit: contain;
      }
    }

    .header-article__figure {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        object-fit: cover;
        object-position: center;
      }
      img.figure-1 {
        max-width: 60%;
        position: relative;
        border-radius: 10px;
        z-index: 100;
        left: -5%;
      }
      img.figure-2 {
        position: absolute;
        top: 50%;
        left: 30%;
        max-width: 50%;
        transform: translateY(-50%);
        z-index: 10;
      }
      img.figure-3 {
        position: absolute;
        left: 35%;
        max-width: 50%;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
      }

      .play-button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: linear-gradient(119.65deg, #39a1df 0%, #d0eafb 128.41%);
        border: 0;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        animation: pulse 1.5s infinite;
        -webkit-animation: pulse 1.5s infinite;
        box-shadow: 0 0 0 0 rgba(#39a1df, 0.7);
        overflow: hidden;

        img {
          width: 40%;
          object-fit: cover;
        }
      }

      .play-button:hover {
        animation: none;
        -webkit-animation: none;
      }

      @keyframes pulse {
        to {
          box-shadow: 0 0 0 20px rgba(#39a1df, 0);
        }
      }

      @-webkit-keyframes pulse {
        to {
          box-shadow: 0 0 0 20px rgba(#39a1df, 0);
        }
      }
    }
  }

  .header-detail-artikel__inner {
    .header-detail-artikel__title {
      padding: 30px 0 0;
      h2 {
        font-size: 1rem;
        font-weight: 700;
        color: #ffe64a;
      }
      h1 {
        font-size: 2.5rem;
        font-weight: 700;
        color: #fff;
      }
    }
  }
}

@media only screen and (max-width: 300px) {
  #header {
    .header__inner,
    .header-article__inner {
      .header__title {
        img {
          margin-top: 10px;
        }
      }
    }
  }
}

@media only screen and (max-width: 350px) {
  #header {
    .header__inner,
    .header-article__inner {
      .header__title {
        img:first-child {
          margin-right: 0;
        }
      }
    }
  }
}

@media only screen and (min-width: 576px) {
  html,
  body {
    font-size: 12px;
  }

  #header {
    .header__inner,
    .header-article__inner {
      .header__title {
        padding: 30px;
        h1 {
          font-size: 5rem;
          line-height: 5rem;
        }

        img {
          width: 135px;
          max-width: 160px;
        }
      }

      .header__figure {
        img {
          width: 80%;
          display: block;
          margin: 0 auto;
        }
      }

      .header-article__figure {
        .play-button {
          width: 100px;
          height: 100px;
        }

        @keyframes pulse {
          to {
            box-shadow: 0 0 0 30px rgba(#39a1df, 0);
          }
        }

        @-webkit-keyframes pulse {
          to {
            box-shadow: 0 0 0 30px rgba(#39a1df, 0);
          }
        }
      }
    }

    .header-with-figure {
      min-height: 500px;
    }

    .header-detail-artikel__inner {
      .header-detail-artikel__title {
        h2 {
          font-size: 1.3125rem;
        }
        h1 {
          font-size: 3.5rem;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  html,
  body {
    font-size: 14px;
  }

  #header {
    padding-right: 0;
    padding-bottom: 0;
    .navbar {
      padding-right: 20px;
    }

    .header-article__inner {
      padding: 45px 0;
      margin-right: 20px;
    }

    .header__inner,
    .header-article__inner {
      grid-template-columns: 1fr 1fr;
      .header__title {
        max-width: 100%;
        margin: auto 0;
        padding: 0;
        text-align: left;
        order: 1;
      }

      .header__figure {
        order: 2;
        display: flex;
        align-items: center;
        img {
          width: 100%;
          object-fit: contain;
        }
      }

      .header-article__title {
        max-width: 100%;
        order: 1;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .header__description {
          margin-right: 30px;
        }
      }

      .header-article__figure {
        order: 2;
        margin-bottom: 30px;
        img.figure-1 {
          max-width: 65%;
          left: -8%;
        }
        img.figure-2 {
          left: 15%;
          max-width: 65%;
        }
        img.figure-3 {
          left: 25%;
          max-width: 60%;
        }
      }
    }

    .header-detail-artikel__inner {
      margin-right: 20px;
      padding: 0 25px;
    }

    .header-with-figure {
      min-height: 600px;
    }
  }
}

@media only screen and (min-width: 992px) {
  #header {
    .header-with-figure {
      min-height: 650px;
    }

    .header-article__inner {
      padding: 45px 20px;
      margin-right: 20px;
    }

    .navbar {
      padding-left: 20px;

      .navbar-collapse {
        display: flex;
        justify-content: flex-end;
        padding-right: 30px;

        .nav-link {
          margin-right: 30px;
        }
      }
    }

    .header__inner {
      grid-template-rows: 550px;
      .header__title {
        padding: 0 20px;
      }

      .header-article__title {
        padding: 20px;
        margin: auto 0;
      }

      .header__figure {
        background-image: url("../img/header/photo-1459767129954-1b1c1f9b9ace-removebg-preview\ 1.png");
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 0 0 20px;
        position: relative;
        img {
          display: none;
          position: absolute;
          right: 0;
          bottom: 0;
          border-radius: 0 0 20px;
        }
      }

      .header-article__figure {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          object-fit: cover;
          object-position: center;
        }
        img.figure-1 {
          max-width: 70%;
          position: relative;
          border-radius: 24px;
          z-index: 100;
          left: -30px;
        }
        img.figure-2 {
          position: absolute;
          top: 50%;
          left: 130px;
          max-width: 65%;
          transform: translateY(-50%);
          z-index: 10;
        }
        img.figure-3 {
          position: absolute;
          left: 130px;
          max-width: 70%;
          top: 50%;
          transform: translateY(-50%);
          z-index: 1;
        }
      }
    }

    .header-detail-artikel__inner {
      margin-top: 20px;
      .header-detail-artikel__title {
        padding: 30px 25px 0;
      }
    }
  }
}

@media only screen and (min-width: 1050px) {
  html,
  body {
    font-size: 16px;
  }

  #header {
    .header-with-figure {
      min-height: 700px;
      max-height: 80vh;
    }
  }
}

@media only screen and (min-width: 1150px) {
  #header {
    .header__inner {
      .header__figure {
        img {
          width: 90%;
        }
      }
    }
  }
}

@media only screen and (min-width: 1400px) {
  #header {
    max-width: 1400px;
    .header-with-figure {
      min-height: 800px;
      max-height: 80vh;
    }
  }
}

#header {
  .header-project__inner {
    // background-color: #ffe64a;
    margin-top: 30px;
    .header-project__title {
      a {
        text-decoration: none;
      }
      h1 {
        font-size: 4rem;
        line-height: 4rem;
        font-weight: 800;
        color: #fff;
      }
      p {
        font-size: 1.375rem;
        margin-top: 24px;
        color: #fff;
      }
    }

    .header-project__thumbnail {
      .swiper-container-3d .swiper-slide-shadow-left,
      .swiper-container-3d .swiper-slide-shadow-right {
        background-image: none;
      }
    }
  }
}

@media only screen and (min-width: 576px) {
  #header {
    .header-project__inner {
      margin-top: 50px;
      .header-project__title {
        h1 {
          font-size: 5rem;
          line-height: 5rem;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  #header {
    .header-project__inner {
      margin-right: 20px;
    }
  }
}

@media only screen and (min-width: 992px) {
  #header {
    .header-project__inner {
      padding: 20px;
    }
  }
}
