@mixin fontConfig($color, $size, $weight, $align: left, $indent: 0) {
  color: $color;
  font-size: $size;
  font-weight: $weight;
  text-align: $align;
  text-indent: $indent;
}

@mixin displayFlex($justify, $align) {
  display: flex;
  justify-content: center;
  align-items: center;
}
