@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");

$gray: lightgray;
$biru: #e6f0ff;
$yellow: #ffe64a;
$pureblack: #000;
$black60: rgba(0, 0, 0, 0.6);
$black80: rgba(0, 0, 0, 0.8);

$font-black: #041e2f;
$font-white: #ffffff;
$font-yellow: #ffe64a;

$font-size-jumbotron-biggest: 5rem;
$font-size-jumbotron-title: 3.5rem;
$font-size-jumbotron-description: 1.375rem;
$font-size-jumbotron-subtitle: 1.3125rem;

$font-extrabold: 800;
$font-bold: 700;
$font-semibold: 600;
$font-weight-normal: 400;
