@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import "./_variable";
@import "./_mixin";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 10px;
  font-family: "Nunito", sans-serif;
}

.section__title {
  font-weight: 700;
  font-size: 3.125rem;
}

.container-fluid {
  max-width: 90%;
}

.button {
  background-color: #ffe64a;
  border: none;
  border-radius: 24px;
  padding: 10px 40px;
  font-weight: 500;
  font-size: 1.125rem;
  color: #041e2f;
  font-family: "Roboto", sans-serif;
}

@import "./_header";

#superior {
  padding: 80px 0;
  .swiper-container {
    width: 100%;
  }

  .swiper-slide {
    width: 33.33%;
    padding: 32px 20px;
    margin-top: 50px;

    h2 {
      font-weight: 700;
      font-size: 2rem;
      letter-spacing: -0.015em;
      background: -webkit-linear-gradient(#39a1df, #d0eafb);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    p {
      font-size: 1.25rem;
      letter-spacing: -0.015em;
      color: $black80;
      margin-top: 20px;
    }
  }

  .swiper-slide-active {
    padding: 32px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.08);
    border-radius: 25.705px;

    h2 {
      font-size: 2.5rem;
    }

    p {
      font-size: 1.5rem;
    }
  }
}

#project {
  background: linear-gradient(119.65deg, #39a1df 0%, #d0eafb 128.41%);
  padding: 60px 0;
  position: relative;
  h1 {
    color: #fff;
  }

  button {
    position: static;
    top: 60px;
    right: 30px;
    a {
      text-decoration: none;
      color: #041e2f;
    }
  }

  .project__inner {
    margin-top: 32px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;

    img {
      height: 150px;
      width: 100%;
      object-fit: cover;
      object-position: center;
      border-radius: 15px 15px 0 0;
    }

    .project-1,
    .project-2,
    .project-3,
    .project-4 {
      background-color: #fff;
      border-radius: 15px;
      position: relative;

      h1 {
        background: -webkit-linear-gradient(#39a1df, #d0eafb);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 800;
        font-size: 1.5rem;
        padding: 12px 20px;
      }

      .project__tagline {
        background: linear-gradient(0deg, #b7d2e1, #b7d2e1), #f5f5f5;
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 0px 15px;
      }
    }

    .project__description {
      padding: 15px;

      h2 {
        font-weight: 700;
        font-size: 1.5rem;
        letter-spacing: -0.015em;
      }
      p {
        font-size: 1.3125rem;
        letter-spacing: -0.015em;
      }
    }
  }
}

#testimonial {
  padding: 100px 0;
  .testimonial__title {
    text-align: center;
    h1 {
      background: -webkit-linear-gradient(#39a1df, #d0eafb);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    p {
      font-size: 1.875rem;
      margin: 10px 0 20px;
    }
  }

  .card {
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(4, 30, 47, 0.15), 16px 4px 32px rgba(4, 30, 47, 0.1);
    img {
      border-radius: 20px 20px 0 0;
    }
  }

  .card-body {
    .card-date {
      font-weight: 600;
      font-size: 1rem;
      margin: 0;
      letter-spacing: -0.015em;
      background: -webkit-linear-gradient(#39a1df, #d0eafb);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .card-title {
      font-weight: 700;
      font-size: 1.5rem;
      margin: 0;
      letter-spacing: -0.015em;
      color: #041e2f;
    }
    .card-text {
      font-size: 1.125rem;
      letter-spacing: -0.015em;
      color: #041e2f;
    }
  }

  .card--large {
    display: none;
  }
}

@import "./_footer";

#artikel {
  background: #fff;
  padding: 50px 0;
  h1 {
    @include fontConfig(#000, 3rem, $font-weight-normal, center);
    margin-bottom: 30px;
    text-align: center;
  }
  @import "./_card";
}

#detail {
  .detail__article {
    .detail__figure {
      img {
        position: relative;
        transform: translateY(-50%);
        display: block;
        margin: 0 auto;
      }
    }

    .detail__content {
      margin-top: -55px;
      p {
        @include fontConfig($font-black, 1.375rem, $font-weight-normal, justify, 1.5rem);
      }
    }
  }

  .detail__share-article {
    margin-top: 30px;
    h3 {
      font-weight: 600;
      font-size: 1.5rem;
      color: $black80;
    }
    .share-social {
      margin-top: 10px;
      img {
        width: 15px;
        height: 15px;
        margin-right: 7px;
      }
    }
  }
}

#related {
  padding: 100px 0;
  @import "./_card";
  .card__container {
    margin-top: 40px;
    .card {
      border-radius: 24px;
      img {
        border-radius: 24px 24px 0 0;
      }
    }
  }

  h3 {
    font-weight: 600;
    font-size: 1.5rem;
    letter-spacing: -0.015em;
    color: $black80;
  }
}

#about {
  padding: 80px 0;
  .about__inner {
    .about__figure {
      display: flex;
      align-items: center;
      img {
        width: 100%;
        max-height: 300px;
        object-fit: cover;
        object-position: center;
        display: block;
        margin: 0 auto;
        border-radius: 20px;
      }
    }
    .about__content {
      margin-top: 30px;
      display: flex;
      align-items: center;
      h1 {
        font-weight: 700;
        font-size: 2.7rem;
        color: #000;
      }
      p {
        font-size: 1.3rem;
        color: #000;
        text-indent: 1.5rem;
        margin-top: 10px;
        text-align: justify;
      }
    }
  }
}

#vision {
  .vision__inner {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

    .vision__content {
      margin-top: 40px;

      h1 {
        font-weight: 700;
        font-size: 2.7rem;
        color: #000;
      }
      p {
        font-size: 1.3rem;
        color: #000;
        text-indent: 1.5rem;
        margin-top: 10px;
        text-align: justify;
      }

      .mission__description {
        margin-top: 20px;
      }
    }

    .vision__figure {
      display: flex;
      align-items: center;
      img {
        max-height: 300px;
        object-fit: contain;
        object-position: center;
        display: block;
        margin: 0 auto;
        border-radius: 20px;
      }
    }
  }
}

#come-join {
  margin: 100px 0 150px;
  .come-join__inner {
    background-image: url("../img/about/come-join-bg.png");
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 10px 0;

    .come-join__description {
      // background-color: salmon;

      h1 {
        font-weight: 800;
        font-size: 2.7rem;
        color: #fff;
      }
      p {
        font-size: 1.2rem;
        color: #fff;
      }
      img {
        max-width: 45%;
      }
    }
  }
}

#project-slider {
  position: relative;
  top: -100px;
  .swiper-container {
    padding-bottom: 50px;
  }

  .swiper-slide {
    .slideBox {
      img {
        border-radius: 20px;
        width: 100%;
        max-height: 350px;
      }
    }

    .boxCenter {
      img {
        width: 125%;
      }
    }
  }

  .swiper-container-3d .swiper-slide-shadow-left,
  .swiper-container-3d .swiper-slide-shadow-right {
    background-image: none;
    border-radius: 30px;
  }

  .swiper-pagination {
    &-bullet {
      background: #c4c4c4;
    }

    &-bullet-active {
      background: linear-gradient(119.65deg, #39a1df 0%, #d0eafb 128.41%);
    }
  }
}

#footer.project-footer {
  position: absolute;
  width: 100%;
}

#project__figure {
  position: relative;
  top: -100px;
  img {
    border-radius: 15px;
  }
}

#project__list {
  position: relative;
  top: -100px;
  .project__card {
    margin-top: 48px;
    position: relative;
    img {
      filter: drop-shadow(0px 4px 4px rgba(4, 30, 47, 0.15));
      display: block;
      margin: 0 auto;
      border-radius: 15px;
    }
    .project__tagline {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 100;
      background: linear-gradient(0deg, #b7d2e1, #b7d2e1), #f5f5f5;
      border-radius: 0px 15px;

      h1 {
        font-weight: 800;
        font-size: 1.875rem;
        padding: 12px 20px;
        background: -webkit-linear-gradient(#39a1df, #d0eafb);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    .project__description {
      position: absolute;
      bottom: 0;
      padding: 0 10px;

      a {
        text-decoration: none;
      }

      h2 {
        font-weight: 700;
        font-size: 1.875rem;
        color: #000;
      }
      p {
        font-size: 1.5rem;
        color: $black80;
        line-height: 1.875rem;
        letter-spacing: -0.015em;
      }
    }
  }
}

@media only screen and (min-width: 350px) {
  #project {
    button {
      position: absolute;
    }
  }
}

@media only screen and (min-width: 400px) {
  #project__figure,
  #project__list {
    top: -150px;
  }
}

@media only screen and (min-width: 500px) {
  #superior {
    .swiper-slide-active {
      padding: 32px 20px;
      box-shadow: none;
      border-radius: 0;

      h2 {
        font-size: 2rem;
      }

      p {
        font-size: 1.25rem;
        margin-top: 20px;
      }
    }

    .swiper-slide-next {
      padding: 32px;
      box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.08);
      border-radius: 25.705px;

      h2 {
        font-size: 2.5rem;
        margin-bottom: 32px;
      }

      p {
        font-size: 1.5rem;
      }
    }
  }

  #detail {
    .detail__article {
      .detail__content {
        margin-top: -85px;
      }
    }
  }

  #project {
    .project__inner {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media only screen and (max-width: 576px) {
  #project__figure {
    img {
      min-height: 200px;
      object-fit: cover;
      object-position: center;
    }
  }
  #project__list {
    .project__card {
      img {
        min-height: 200px;
        object-fit: cover;
        object-position: center;
      }
    }
  }
}

@media only screen and (min-width: 576px) {
  html,
  body {
    font-size: 12px;
  }

  #testimonial {
    .testimonial__title {
      max-width: 70%;
      margin: 0 auto;
    }
  }

  #project {
    button {
      right: 40px;
    }
  }

  #artikel {
    padding: 50px 0;
    h1 {
      margin-bottom: 50px;
    }
  }

  #detail {
    .detail__article {
      .detail__content {
        margin-top: -120px;
      }
    }
  }

  #about {
    .about__inner {
      .about__figure {
        img {
          max-height: 400px;
        }
      }
    }
  }

  #vision {
    .vision__inner {
      .vision__figure {
        img {
          max-height: 400px;
        }
      }
    }
  }

  #come-join {
    .come-join__inner {
      padding: 0 0 0 30px;
      .come-join__description {
        img {
          max-width: 100px;
        }
      }
      .come-join__figure {
        margin-right: -10px;
      }
    }
  }

  #project-slider {
    top: -230px;
    .swiper-slide {
      .slideBox {
        img {
          max-height: 500px;
        }
      }
    }
  }

  #footer.project-footer {
    margin-top: -100px;
  }

  #project__figure {
    top: -230px;
    img {
      min-height: 300px;
      object-fit: cover;
      object-position: center;
    }
  }

  #project__list {
    top: -230px;
    .project__card {
      img {
        min-height: 300px;
        object-fit: cover;
        object-position: center;
      }

      .project__description {
        padding: 0 23px;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  html,
  body {
    font-size: 14px;
  }

  #testimonial {
    .card-body {
      padding: 15px 22px;
    }

    .testimonial__card-1,
    .testimonial__card-2,
    .testimonial__card-3 {
      display: flex;
      align-items: stretch;
    }
  }

  #artikel {
    padding: 70px 20px 100px;
    h1 {
      margin-bottom: 70px;
    }
  }

  #detail {
    .detail__article {
      padding: 0 10px;
    }

    .detail__share-article {
      margin-top: 40px;
      .share-social {
        margin-top: 10px;
        img {
          width: 20px;
          height: 20px;
          margin-right: 10px;
        }
      }
    }
  }

  #related {
    padding: 150px 0;
  }

  #project {
    button {
      right: 50px;
    }

    .project__inner {
      grid-template-columns: 1.5fr 1fr 1fr;
      img {
        height: 200px;
      }

      .project-2,
      .project-4 {
        grid-column-start: 2;
        grid-column-end: 4;
      }
    }
  }

  #about {
    .about__inner {
      .about__figure {
        padding: 0;
        img {
          max-height: none;
        }
      }
      .about__content {
        margin-top: 0;
        padding: 20px 15px 20px 60px;
      }
    }
  }

  #vision {
    .vision__inner {
      display: flex;
      flex-direction: row;
      .vision__content {
        margin-top: 0;
        padding: 20px 60px 20px 15px;

        .mission__description {
          margin-top: 48px;
        }
      }

      .vision__figure {
        padding: 0;
        img {
          max-height: none;
        }
      }
    }
  }

  #project-slider {
    top: -260px;
  }

  #project__figure,
  #project__list {
    top: -270px;
  }

  #project__list {
    .project__card {
      .project__description {
        max-width: 75%;
      }
    }
  }
}

@media only screen and (min-width: 900px) {
  #detail {
    .detail__article {
      .detail__content {
        margin-top: -160px;
      }
    }
  }
}

@media only screen and (min-width: 992px) {
  html,
  body {
    font-size: 16px;
  }

  #superior {
    padding: 100px 0;

    .superior__inner {
      padding: 50px 20px;
    }
  }

  #testimonial {
    padding: 200px 0px;
    max-width: 100%;
    .testimonial__title {
      max-width: 100%;
      text-align: left;
      p {
        margin: 24px 0 48px;
      }
    }

    .card--mobile {
      display: none;
    }

    .card--large {
      display: block;
      .card-text--large {
        font-size: 1.3125rem;
        margin-top: 16px;
      }
    }
  }

  #detail {
    .detail__article {
      padding: 0 20px;
    }
  }

  #related {
    padding: 200px 20px;
  }

  #project {
    button {
      right: 60px;
    }

    .project__inner {
      gap: 30px;

      img {
        height: auto;
        width: auto;
        border-radius: 24px 24px 0 0;
      }

      .project-1,
      .project-2,
      .project-3,
      .project-4 {
        border-radius: 24px;

        .project__tagline {
          border-radius: 0px 24px;
        }
      }

      .project-1 {
        grid-row-start: 1;
        grid-row-end: 3;

        h1 {
          padding: 28px 41px;
        }
      }

      .project-3 {
        grid-column-start: 2;
        grid-column-end: 3;
      }

      .project-4 {
        grid-column-start: 3;
        grid-column-end: 4;
      }

      .project__description--project1 {
        p {
          margin-top: 16px;
        }
      }

      .project__description--project2 {
        p {
          margin-top: 8px;
        }
      }
    }
  }

  #about {
    .about__inner {
      .about__content {
        h1 {
          font-size: 3.125rem;
        }
        p {
          font-size: 1.5rem;
          margin-top: 32px;
          line-height: 32px;
        }
      }
    }
  }

  #vision {
    .vision__inner {
      .vision__content {
        h1 {
          font-size: 3.125rem;
        }
        p {
          font-size: 1.5rem;
          margin-top: 16px;
          line-height: 32px;
        }
      }
    }
  }

  #come-join {
    .come-join__inner {
      padding-left: 60px;
      .come-join__description {
        margin-right: 60px;
        h1 {
          font-size: 3.125rem;
        }
        p {
          margin-top: 10px;
          font-size: 1.375rem;
        }
        img {
          margin-right: 16px;
          max-width: 135px;
          margin-top: 30px;
        }
      }
    }
  }

  #project-slider {
    .swiper-container {
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;
    }

    .swiper-slide {
      background-position: center;
      background-size: cover;
      width: 50%;
      .slideBox {
        position: relative;
        width: 100%;

        img {
          max-height: 500px;
        }
      }
    }

    .swiper-slide-active {
      .slideBox {
        display: flex;
        justify-content: center;
        img {
          width: 800px;
          object-fit: cover;
          max-height: auto;
        }
      }
    }
  }

  #footer.project-footer {
    margin-top: -200px;
  }

  #project__figure {
    img {
      border-radius: 24px;
    }
  }

  #project__list {
    .project__card {
      img {
        border-radius: 24px;
      }

      .project__tagline {
        border-radius: 0px 24px;
      }
    }
  }
}

@media only screen and (min-width: 1050px) {
  #detail {
    .detail__article {
      .detail__content {
        margin-top: -200px;
      }
    }
  }

  #project-slider {
    top: -320px;
  }

  #project__figure,
  #project__list {
    top: -330px;
  }
}

@media only screen and (min-width: 1150px) {
  #project {
    button {
      right: 70px;
    }
  }

  #detail {
    .detail__article {
      .detail__content {
        margin-top: -250px;
      }
    }
  }
}

@media only screen and (min-width: 1300px) {
  #project-slider {
    .swiper-slide-active {
      .slideBox {
        img {
          width: 1000px;
        }
      }
    }
  }
}

@media only screen and (min-width: 1350px) {
  #project__list {
    .project__card {
      .project__tagline {
        right: 15px;
      }

      .project__description {
        padding: 0 38px;
      }
    }
  }
}

@media only screen and (min-width: 1400px) {
  .container-fluid,
  .container {
    max-width: 1248px;
  }

  #project {
    button {
      right: 10%;
    }
  }

  #project-slider {
    .swiper-container {
      max-width: 1400px;
    }
  }

  #project-slider {
    top: -400px;
  }

  #project__figure,
  #project__list {
    top: -400px;
  }

  #project__list {
    .project__card {
      .project__tagline {
        right: 30px;
      }

      .project__description {
        padding: 0 53px;
      }
    }
  }
}

/*
*
* PROJECT TIGA
*
*/

#header {
  .header-project__inner {
    .header-project-3__title {
      // background-color: salmon;
      p {
        font-weight: 600;
        color: #ffe64a;
      }
    }
  }
}

#project__figure.project-3__figure {
  top: -164px;
}

@media only screen and (min-width: 576px) {
  #project__figure.project-3__figure {
    top: -264px;
  }

  #header {
    .header-project__inner {
      .header-project-3__title {
        margin: 0 10px;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  #project__figure.project-3__figure {
    top: -334px;
  }

  #header {
    .header-project__inner {
      .header-project-3__title {
        margin: 0 15px;
      }
    }
  }
}

@media only screen and (min-width: 992px) {
  #project__figure.project-3__figure {
    top: -379px;
  }
}
